<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".QuickFlipApp"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/quickfliplogo"
        android:label="QuickFlip"
        android:roundIcon="@mipmap/quickfliplogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCO2QuickFlip"
        tools:targetApi="31">

        <!-- Your existing activities -->
        <activity
            android:name=".InitloadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeckActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".LeaderboardActivity"/>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignupActivity"/>
        <activity android:name=".BrowseActivity"/>
        <activity android:name=".SpeedTActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".TestActivity"/>
    </application>

</manifest>